//カラー変数
$navy: #192f60;
$navy-hover: #192f60;
$backGroundcolor: rgba(156, 174, 183, 0.2);
$header-font-color: #9caeb7;

//画面サイズ
$pc: 960px; // PC
$tablet: 769px;
$sp: 768px; // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

html {
  font-size: 62.5%;
}
a {
  color: $navy;
}

.input-container {
  width: 70%;
  margin: 0 auto;
  background-color: $backGroundcolor;
  padding: 4rem 2rem;
  box-sizing: border-box;
}
